__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/
*.egg-info/
dist/
build/
*.egg
htmlcov/
.coverage
.coverage.*
*.log
pytest_cache/
*.tar
.idea/
*.swp
.vscode/
*.env
*.local
*.bak
*.tmp
.DS_Store